# Basics
NODE_ENV=development
PORT=8000

# MONGO
MONGO_USER=
MONGO_PASS=
MONGO_CLUSTER=127.0.0.1:27017
MONGO_DB_NAME=timezones
MONGO_COLLECTION_TIMEZONE=timezone
API_TIMEZONES = "http://worldtimeapi.org/api/timezone"